@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  /* 80%{
        transform: translateX(-10px);
    } */
  100% {
    opacity: 1;
    transform: translate(0); } }

/* line 1, sass/base/_base.scss */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* line 9, sass/base/_base.scss */
html {
  font-size: 62.5%; }

/* line 12, sass/base/_base.scss */
body {
  box-sizing: border-box; }

/* line 1, sass/base/_typography.scss */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 30px; }

/* line 9, sass/base/_typography.scss */
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem; }
  /* line 15, sass/base/_typography.scss */
  .heading-primary--main {
    display: block;
    font-weight: 400;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s; }
  /* line 23, sass/base/_typography.scss */
  .heading-primary--sub {
    display: block;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1.8rem;
    animation-name: moveInRight;
    animation-duration: 1s; }

/* line 33, sass/base/_typography.scss */
.heading__secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #5b80e6, #1437aa);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  transition: all .2s; }
  /* line 43, sass/base/_typography.scss */
  .heading__secondary:hover {
    transform: skewX(15deg) skewY(2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

/* line 49, sass/base/_typography.scss */
.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: .1rem;
  text-transform: uppercase; }

/* line 55, sass/base/_typography.scss */
.paragraph {
  font-size: 1.6rem; }
  /* line 58, sass/base/_typography.scss */
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

/* line 2, sass/base/_utilities.scss */
.u-text-center {
  text-align: center; }

/* line 5, sass/base/_utilities.scss */
.u-margin-bottom-small {
  margin-bottom: 1rem; }

/* line 8, sass/base/_utilities.scss */
.u-margin-bottom-medium {
  margin-bottom: 4rem; }

/* line 11, sass/base/_utilities.scss */
.u-margin-bottom-big {
  margin-bottom: 8rem; }

/* line 14, sass/base/_utilities.scss */
.u-margin-top-big {
  margin-top: 8rem; }

/* line 17, sass/base/_utilities.scss */
.u-margin-top-huge {
  margin-top: 10rem; }

/* line 2, sass/components/_buttons.scss */
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: 200ms;
  position: relative;
  font-size: 1.6rem; }

/* line 13, sass/components/_buttons.scss */
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8); }
  /* line 17, sass/components/_buttons.scss */
  .btn:hover::after {
    transform: scale(1.4);
    opacity: 0; }

/* line 23, sass/components/_buttons.scss */
.btn:active {
  transform: translateX(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8); }

/* line 30, sass/components/_buttons.scss */
.btn--white {
  background-color: #fff;
  color: #777; }
  /* line 35, sass/components/_buttons.scss */
  .btn--white::after {
    content: '';
    background-color: #fff; }

/* line 43, sass/components/_buttons.scss */
.btn--green {
  background-color: #3370b6;
  color: #fff; }
  /* line 48, sass/components/_buttons.scss */
  .btn--green::after {
    content: '';
    background-color: #3370b6; }

/* line 57, sass/components/_buttons.scss */
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

/* line 71, sass/components/_buttons.scss */
.btn--animated {
  animation-name: moveInBottom;
  animation-duration: .5s;
  animation-delay: .75s;
  animation-fill-mode: backwards; }

/* line 81, sass/components/_buttons.scss */
.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #1437aa;
  color: #1437aa;
  padding: .4rem;
  transition: all .2s; }

/* line 91, sass/components/_buttons.scss */
.btn-text:hover {
  background-color: #1437aa;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

/* line 98, sass/components/_buttons.scss */
.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

/* line 1, sass/components/_composition.scss */
.composition {
  position: relative; }
  /* line 4, sass/components/_composition.scss */
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    transition: all .2s;
    z-index: 10;
    outline-offset: 2rem; }
    /* line 13, sass/components/_composition.scss */
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    /* line 17, sass/components/_composition.scss */
    .composition__photo--p2 {
      top: 1rem;
      left: 20rem; }
    /* line 21, sass/components/_composition.scss */
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
    /* line 25, sass/components/_composition.scss */
    .composition__photo:hover {
      outline: 1.5rem solid #3370b6;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
      transform: scale(1.05) translateY(-1rem);
      z-index: 20; }
  /* line 33, sass/components/_composition.scss */
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

/* line 1, sass/components/_feature-box.scss */
.features-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 3.5rem 2rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: all .3s; }
  /* line 11, sass/components/_feature-box.scss */
  .features-box__icon {
    display: inline-block;
    font-size: 6rem;
    background-image: linear-gradient(to right, #5b80e6, #1437aa);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: .5rem; }
  /* line 19, sass/components/_feature-box.scss */
  .features-box:hover {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.15); }

/* line 1, sass/components/_card.scss */
.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  /* line 7, sass/components/_card.scss */
  .card__side {
    height: 50rem;
    transition: all .8s ease;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    /* line 19, sass/components/_card.scss */
    .card__side--front {
      background-color: #fff; }
    /* line 22, sass/components/_card.scss */
    .card__side--back {
      transform: rotateY(180deg); }
      /* line 25, sass/components/_card.scss */
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      /* line 28, sass/components/_card.scss */
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #0bdf40, #39a310); }
      /* line 31, sass/components/_card.scss */
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #5b80e6, #1437aa); }
  /* line 36, sass/components/_card.scss */
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  /* line 39, sass/components/_card.scss */
  .card:hover .card__side--back {
    transform: rotateY(0); }
  /* line 44, sass/components/_card.scss */
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: soft-light;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); }
    /* line 51, sass/components/_card.scss */
    .card__picture-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-5.jpg"); }
    /* line 54, sass/components/_card.scss */
    .card__picture-2 {
      background-image: linear-gradient(to right bottom, #0bdf40, #39a310), url("../img/nat-6.jpg"); }
    /* line 57, sass/components/_card.scss */
    .card__picture-3 {
      background-image: linear-gradient(to right bottom, #5b80e6, #1437aa), url("../img/nat-7.jpg"); }
  /* line 61, sass/components/_card.scss */
  .card__heading {
    color: #fff;
    font-size: 2.8rem;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-transform: uppercase;
    width: 75%; }
  /* line 71, sass/components/_card.scss */
  .card__heading-span {
    padding: 1rem 1.5rem;
    -moz-box-decoration-break: clone;
    box-decoration-break: clone; }
    /* line 76, sass/components/_card.scss */
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.7), rgba(255, 119, 48, 0.7)); }
    /* line 79, sass/components/_card.scss */
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(11, 223, 64, 0.7), rgba(57, 163, 16, 0.7)); }
    /* line 82, sass/components/_card.scss */
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(91, 128, 230, 0.7), rgba(20, 55, 170, 0.7)); }
  /* line 87, sass/components/_card.scss */
  .card__details {
    padding: 1rem; }
    /* line 90, sass/components/_card.scss */
    .card__details ul {
      list-style: none;
      margin: 0 auto;
      font-size: 1.5rem;
      width: 80%; }
      /* line 96, sass/components/_card.scss */
      .card__details ul li {
        padding: 1rem;
        text-align: center; }
        /* line 100, sass/components/_card.scss */
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  /* line 109, sass/components/_card.scss */
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  /* line 117, sass/components/_card.scss */
  .card__price--box {
    color: #fff;
    margin-bottom: 8rem;
    text-align: center; }
  /* line 123, sass/components/_card.scss */
  .card__price--only {
    font-size: 1.5rem; }
  /* line 126, sass/components/_card.scss */
  .card__price--value {
    font-size: 6rem;
    font-weight: 100; }

/* line 1, sass/components/_story.scss */
.story {
  width: 75%;
  margin: 0 auto;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 6rem;
  padding-left: 9rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.15);
  font-size: 1.6rem;
  transform: skewX(-12deg);
  backface-visibility: hidden; }
  /* line 13, sass/components/_story.scss */
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translate(-3rem) skewX(12deg);
    position: relative;
    backface-visibility: hidden; }
  /* line 25, sass/components/_story.scss */
  .story__img {
    height: 100%;
    transform: translate(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  /* line 31, sass/components/_story.scss */
  .story__text {
    transform: skewX(12deg); }
  /* line 34, sass/components/_story.scss */
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    font-size: 1.7rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  /* line 50, sass/components/_story.scss */
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  /* line 54, sass/components/_story.scss */
  .story:hover .story__img {
    transform: translate(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

/* line 1, sass/components/_bg-video.scss */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .3;
  overflow: hidden; }
  /* line 12, sass/components/_bg-video.scss */
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

/* line 1, sass/layouts/_header.scss */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(91, 128, 230, 0.801), rgba(20, 55, 170, 0.801)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  /* line 9, sass/layouts/_header.scss */
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  /* line 16, sass/layouts/_header.scss */
  .header__logo {
    height: 3.5rem; }
  /* line 20, sass/layouts/_header.scss */
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

/* line 1, sass/layouts/_grid.scss */
.row {
  max-width: 114rem;
  margin: 0 auto; }
  /* line 7, sass/layouts/_grid.scss */
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  /* line 2, sass/abstracts/_mixins.scss */
  .row::after {
    content: "";
    display: table;
    clear: both; }
  /* line 12, sass/layouts/_grid.scss */
  .row [class^="col-"] {
    float: left; }
    /* line 20, sass/layouts/_grid.scss */
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  /* line 25, sass/layouts/_grid.scss */
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  /* line 29, sass/layouts/_grid.scss */
  .row .col-1-of-3 {
    width: calc((100% - 2*6rem) / 3); }
  /* line 33, sass/layouts/_grid.scss */
  .row .col-2-of-3 {
    width: calc((2*(100% - 2*6rem) / 3) + 6rem); }
  /* line 37, sass/layouts/_grid.scss */
  .row .col-1-of-4 {
    width: calc((100% - 3*6rem) / 4); }
  /* line 41, sass/layouts/_grid.scss */
  .row .col-2-of-4 {
    width: calc((2*(100% - 3*6rem) / 4) + ( 6rem)); }
  /* line 45, sass/layouts/_grid.scss */
  .row .col-3-of-4 {
    width: calc((3*(100% - 3*6rem) / 4) + (2 * 6rem)); }

/* line 3, sass/pages/_home.scss */
.section__about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

/* line 11, sass/pages/_home.scss */
.section-features {
  padding: 19rem 0;
  background-image: linear-gradient(to right bottom, rgba(91, 128, 230, 0.801), rgba(20, 55, 170, 0.801)), url("../img/nat-4.jpg");
  background-size: cover;
  margin-top: -8rem;
  transform: skewY(-7deg); }
  /* line 19, sass/pages/_home.scss */
  .section-features > * {
    transform: skewY(7deg); }

/* line 26, sass/pages/_home.scss */
.section-tour {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem; }

/* line 34, sass/pages/_home.scss */
.section-stories {
  padding: 15rem 0;
  position: relative; }
